html, body {
    background-color: #1d1d1d;
    font-family: 'IBM Plex Mono', monospace;
    -webkit-font-smoothing: antialiased;
    color: whitesmoke;
}

a, button {
    color: #bbbbbb;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    font-family: 'IBM Plex Mono', monospace;
}

a:hover, button:hover {
    color: #ffffff;
}

.title-sub h1 {
    margin-bottom: 0;
}

.title-sub h2 {
    margin-top: 0;
}

.list {
    line-height: 25px;
}

.content {
    text-align: center;
    position: relative;
}